*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
  }

:root{
    --primary: #4f46e5;
    --secondary: #f97316;  
    --dark:  #262626;
    --light: #dad4e5;
    --warn: #22c55e;
    --select: #2D7DE6;

}

body {
  font-family: "Poppins", sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 12px;
}

header {
  display:flex;
  justify-content: space-between;
  background: var(--primary);
  color: white;
  padding: 1.5rem 2rem;
  position:sticky ;
  top: 0;
}

header h1 {
  font-size: 2rem;
}




nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem ;
  transition: 0.3s;
}

nav a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  color: var(--primary);
  margin-bottom: 1rem;
  text-align: center ;
  font-size: 30px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}


#about img,#about p {
  max-width: 450px;
}

#about-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

#skills ul {
    list-style-type: none; 
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px;
    gap: 1rem;
    
}

#skills li {
    background-color: white ;
    color:black;
    text-align: center;
    padding: 1rem;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

#skills li:hover {
  transform: translateY(-5px);
  background-color: #2D7DE6;
  color: white ;
}


#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form {
  width: 100%;
  max-width: 650px;
}


input,textarea {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
  
}

input:focus,textarea:focus {
  outline: none;
  border-color: var(--primary);
}

input:hover,textarea:hover {
  border:3px solid var(--select);
}

button {
  background: var(--secondary);
  border: none;
  padding: 0.8rem 1.6rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: 0.3s;
}

button:hover {
  background: var(--warn);
  transform: scale(1.05);
}

.links a {
  text-decoration: none ;
}

.links a:hover{
  text-decoration: underline;
  color:rgb(31, 152, 227)

}


footer {
  text-align: center;
  background: var(--dark);
  color: white;
  padding: 1.2rem;
}

@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #about {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    text-align: center;
  }

  main {
    padding: 1rem;
  }
}

@media (max-width: 638px) {

  #skills ul {
    grid-template-columns: 1fr;
  }

}

